{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}  

{% block body %}
<div class="content">
    <div class="list-user">
        <table>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Mail</th>
            </tr>
            {% for value in users %}
            <tr>
                <td>{{ value.firstname|e }}</td>
                <td>{{ value.lastname|e }}</td>
                <td>{{ value.email|e }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="content-btn">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Envoyer un fichier
        </button>
    </div>
    <div class="list-file-bucket">
        <table>
            <tr>
                <th>Titre</th>
                <th>Dernière modification</th>
            </tr>
            {% for value in file %}
            <tr>
                <td>{{ value.titre|e }}</td>
                <td>{{ value.date|e }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ path('dashboard_createfile') }}" method="POST" enctype="multipart/form-data">
                        <input type="file" name="fileToUpload" id="fileToUpload" required>
                        <input type="submit" name="envoyer">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
