{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <div class="list-user">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Mail</th>
            </thead>
            {% for value in users %}
            <tbody>
                <td scope="row">{{ value.lastname|e }}</td>
                <td scope="row">{{ value.firstname|e }}</td>
                <td scope="row">{{ value.email|e }}</td>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <div class="list-file-bucket">
        <div class="content-btn">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Envoyer un fichier
            </button>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <th scope="col">Titre</th>
                <th scope="col">Dernière modification</th>
                <th scope="col">Action</th>
            </thead>
            {% for value in file %}
            <tbody>
                <td scope="row">{{ value.titre|e }}</td>
                <td scope="row">{{ value.date|e }}</td>
                <td scope="row"><a class="btn btn-success" href="{{ path('dashboard_downloadfile', { fichier : 'testG1.txt' }) }}"><i class="fas fa-cloud-download-alt"></i></a></td>
            </tbody>
            {% endfor %}
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload du fichier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ path('dashboard_createfile') }}" method="POST" enctype="multipart/form-data">
                        <input type="file" name="fileToUpload" id="fileToUpload" required>
                        <input type="submit" name="envoyer">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}